{
  "$schema": "https://opencode.ai/tui.json",
  "plugin": [
    ["@skwid138/opencode-tui@1.1.1", {
      "logo": {
        "rows": [
          {
            "segments": [
              { "text": "     ██╗██╗   ██╗███████╗████████╗", "color": "#5DBDB3" },
              { "text": "██╗   ██╗██╗██████╗ ███████╗███████╗", "color": "#BC5C94" }
            ]
          },
          {
            "segments": [
              { "text": "     ██║██║   ██║██╔════╝╚══██╔══╝", "color": "#5DBDB3" },
              { "text": "██║   ██║██║██╔══██╗██╔════╝██╔════╝", "color": "#BC5C94" }
            ]
          },
          {
            "segments": [
              { "text": "     ██║██║   ██║███████╗   ██║   ", "color": "#5DBDB3" },
              { "text": "██║   ██║██║██████╔╝█████╗  ███████╗", "color": "#BC5C94" }
            ]
          },
          {
            "segments": [
              { "text": "██   ██║██║   ██║╚════██║   ██║   ", "color": "#5DBDB3" },
              { "text": "╚██╗ ██╔╝██║██╔══██╗██╔══╝  ╚════██║", "color": "#BC5C94" }
            ]
          },
          {
            "segments": [
              { "text": "╚█████╔╝╚██████╔╝███████║   ██║   ", "color": "#5DBDB3" },
              { "text": " ╚████╔╝ ██║██████╔╝███████╗███████║", "color": "#BC5C94" }
            ]
          },
          {
            "segments": [
              { "text": " ╚════╝  ╚═════╝ ╚══════╝   ╚═╝   ", "color": "#5DBDB3" },
              { "text": "  ╚═══╝  ╚═╝╚═════╝ ╚══════╝╚══════╝", "color": "#BC5C94" }
            ]
          }
        ]
      }
    }]
  ]
}
